.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  background-color: rgb(253, 208, 176);

 }

 .activeCard {
   color: red;
   background-color: pink;
 }

body {
  font-family: "Comic Sans MS";
  font-weight: 100;
  background-color:rgb(190, 207, 255);
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR5sVsxvm9RuLk0Ywh6eMJLlSJGb1ivoOLGtw&usqp=CAU"); */
  
}

h1 {
  text-align: center;
  font-size: medium;

}
h2 {
  text-align: center;
  font-size: large;
}

.p1 {
  text-emphasis-position: 20px;
}

.h01 {
  background-image: url("https://image.freepik.com/free-vector/cute-cat-kitten-family-cartoon-doodle-banner_40564-293.jpg");
  background-size: 325px 250px;
  background-color: slateblue;
}